<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookie Confectionary</title>
  </head>
  <body>
    <h1 style="text-align:center, color: brown, font-size:78px">Cookie Confectionary</h1>

    <form method="POST" action="/sugar">
      <button>Sugar</button> <%= sugar %>
    </form>

    <form method="POST" action="/chocolate">
      <button>Chocolate</button> <%= chocolate %>
    </form>

    <form method="POST" action="/almond">
      <button>Almond</button> <%= almond %>
    </form>

    <form method="POST" action="/feel-guilty">
        <button>Throw Up from eating Cookies</button>
    </form>

  </body>
</html>
